
body{
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px ; /*shrinks and scales*/
	width: 80%; /*make it 80% when you need to, but at a max, make it 700px*/
	margin: 20px auto;/*center in the middle automatically. 0 on top and bottom and auto on left and right*/
	font-family: Source Sans Pro;
}

.quote {
	border-left: 5px solid #bdc3c7;
	padding: 5px;
}

.date{
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

h2{
	color: #2c3e50;
	font-size: 2.0rem;
}

.post{
	margin-bottom: 20px;
}